@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

section {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: #0D0630;
}

section h1 {
    font-size: 35px;
    color: rgb(221, 250, 250);
    padding: 15px;
}

section .search {
    margin: auto;
}

section .icons {
    margin: auto 10px;
}

section .search input[type='text'] {
    outline: none;
    width: 400px;
    padding: 8px;
    border: none;
    background: white;
    border-radius: 5px;
}

section .search button {
    outline: none;
    width: 50px;
    padding: 8px;
    border: none;
    margin-left: -12px;
    cursor: pointer;
    border-radius: 5px;
    background: white;
    border-left: none;
}

section .icons i {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: rgb(221, 250, 250);
}
section .icons i:hover{
    font-size: 24px;
    color: white;
}

.items {
    margin: 5px auto;
    text-align: center;
}

.items ul {
    display: flex;
}

.items ul li {
    list-style: none;
    width: 100%;
    padding: 10px;
    background-color: rgb(223, 223, 35);
}
.items ul li a{
    text-decoration: none;
    font-size: 18px;
}
.items ul li a::after{
    content: "";
    display: block;
    height: 3px;
    transform: scaleX(0);
    background: rgb(22, 24, 134);
    transition: transform 350ms;
  }
  .items ul li a:hover::after{
    transform: scaleX(1);
  }
.items .bars{
    text-align: start;
    padding: 10px;
    color: #0D0630;
    background: rgba(190, 176, 176, 0.541);
    width: 40px;
    font-size: 20px;
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.container .heading {
    font-size: 40px;
    margin-bottom: 20px;

}

.container .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 25px;
}

.container .box-container .box {
    display: none;
}

.container .box-container .box:nth-child(1),
.container .box-container .box:nth-child(2) {
    display: inline-block;
}

.container .box-container .box .image {
    margin-bottom: 20px;
    overflow: hidden;
    /* height: 600px; */
    margin: auto;
    background: aqua;
    padding: 20px;
}

.container .box-container .box .image img {
    height: 60%;
    width: 100%;
    object-fit: cover;
}
main .box .image p{
    font-size: 17px;
    font-weight: bold;
}
main .box .image h6{
    font-weight: lighter;
    background: #55230ca2;
    color: white;
    padding: 10px;
    font-size: 20px;
}
main .box .image  span{
    background: #0D0630;
    color: white;
    padding: 10px;
}

#load-more {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #334;
    color: #334;
    font-size: 16px;
    cursor: pointer;
}
/* ====================================login page================================= */
#login{
    background: white;
    margin-top: 70px;
    height: 750px;
    display: none;
}
.login p{
    text-align: center;
} 
.wrapper{
    width: 500px;
    margin-top: 20px;
    margin-left: auto;
    background:#d9dee2;
    border: 1px solid rgba(161, 152, 152, 0.473);
    border-radius: 4px;
    margin-right: auto;
    margin-bottom: auto;
} 
.wrapper:hover{
    box-shadow: 3px -2px 7px 0px rgba(146, 134, 134, 0.836);
}
.login-page{
    margin-top: -10px;
    padding-bottom: 10px;
}
.fa-user-pen{
    border-radius: 50%;
    border: 1px solid #bfbfbf;
    padding: 30px 80px;
    color: rgba(18, 19, 18, 0.603);
    font-size: 50px;
}
.sign-content{
    margin-top: 20px;
    font-size: 25px;
    background: rgba(255, 255, 0, 0.699);
}
.wrapper{
    width: 480px;
    padding: 40px 30px 50px 30px;
    background:#f0f3f7;
    border-radius: 5px;
    text-align: center;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.1);
  }
  .wrapper form{
    margin: 20px 0;
  }
  form .field{
    width: 100%;
    margin-bottom: 20px;
  }
  form .field.shake{
    animation: shake 0.3s ease-in-out;
  }
  @keyframes shake {
    0%, 100%{
      margin-left: 0px;
    }
    20%, 80%{
      margin-left: -12px;
    }
    40%, 60%{
      margin-left: 12px;
    }
  }
  form .field .input-area{
    height: 40px;
    width: 100%;
    position: relative;
  }
  form input{
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 45px;
    font-size: 18px;
    background: none;
    caret-color: #5372F0;
    border-radius: 5px;
    border: 1px solid #bfbfbf;
    border-bottom-width: 2px;
    transition: all 0.2s ease;
  }
  form .field input:focus,
  form .field.valid input{
    border-color: #5372F0;
  }
  form .field.shake input,
  form .field.error input{
    border-color: #dc3545;
  }
  .field .input-area i{
    position: absolute;
    top: 50%;
    font-size: 18px;
    pointer-events: none;
    transform: translateY(-50%);
  }
  .input-area .icon{
    left: 15px;
    color: #bfbfbf;
    transition: color 0.2s ease;
  }
  .input-area .error-icon{
    right: 15px;
    color: #dc3545;
  }
  form input:focus ~ .icon,
  form .field.valid .icon{
    color: #5372F0;
  }
  form .field.shake input:focus ~ .icon,
  form .field.error input:focus ~ .icon{
    color: #bfbfbf;
  }
  form input::placeholder{
    color: #bfbfbf;
    font-size: 17px;
  }
  form .field .error-txt{
    color: #dc3545;
    text-align: left;
    margin-top: 5px;
  }
  form .field .error{
    display: none;
  }
  form .field.shake .error,
  form .field.error .error{
    display: block;
  }
  form .pass-txt{
    text-align: left;
    margin-top: -10px;
  }
  .wrapper a{
    color: #0969DA;
    text-decoration: none;
  }
  .wrapper a:hover{
    text-decoration: underline;
  }
  form input[type="submit"]{
    height: 50px;
    margin-top: 30px;
    color: #000;
    padding: 0;
    border: none;
    background: #35bb35;;
    cursor: pointer;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    transition: all 0.3s ease;
  }
  form input[type="submit"]:hover{
    background-color: #09d109;
  }
  .ovin{
        text-align: center;
        border-top: 1px solid rgba(161, 152, 152, 0.373);
        font-size: 19px;
    }
      span {
        font-size: 23px;
      }
  

@media (max-width:800px){
    section .search input[type='text'] {
        width: 300px;
    }
    
}
@media (max-width:670px){
    section .search input[type='text'] {
        width: 200px;
    }
}
@media (max-width:580px){
    .nav-links{
        position: absolute;
        top: 24vh;
        left: 0;
        flex-direction: column;
        width: 100%;
        float: left;
        transform: translateX(-100%);
        transition:  0.6s;
    }
    .display{
        transform: translateX(0%);
    }
    .items ul li {
        padding:auto;
        height: 9vh;
    }
    .items .bars{
      display: block;
    }
    section .search input[type='text'] {
        width: 300px;
        position: absolute;
        margin-top: 52px;
        margin-left: -140px;
        background: rgb(226, 220, 220);
    }
    section .search button {
        width: 50px;
        position: absolute;
        margin-top: 52px;
        margin-left: 120px;
        background: rgb(226, 220, 220);
    
    }
    .wrapper{
        width: 350px;
      }
      #login{
        margin-top: 0px;
    }
    /* .login p{
        width: 600px;
    } */
}
@media (max-width:400px){
    section{
        width:400px;
    }
    .nav-links{
        top: 24vh;
        width: 400px;
        transition:  0.6s;
    }
    .wrapper{
        width: 300px;
      }
}
